<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymleaf-extras-springsecurity5"
      layout:decorate="layout/main.html">
<div layout:fragment="mainPage">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
                <form th:action="@{'/uploadphoto'}" method="post" enctype="multipart/form-data">
                    <div class="row mt-3">
                        <div class="col-12">
                            <label th:text="#{label.photo}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" multiple type="file" required name="photo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label th:text="#{label.city}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select name="city.id" class="form-control">
                                <option th:each="ct : ${city}" th:value="${ct.id}" th:text="${ct.city}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label th:text="#{label.brand}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <select id="brandInput" name="brand.id" class="form-control">
                                <option>Не выбрано</option>
                                <option th:each="br : ${brand}" th:value="${br.id}" th:text="${br.brand}"></option>
                            </select>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.model}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" id="modelInputContainer"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.yearOfIssue}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-control" type="number" min="1990" max="2023" name="yearOfIssue">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.price}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-control" type="number" name="price">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.engineType}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="engineType.id" class="form-control">
                                    <option th:each="eg : ${engineType}" th:value="${eg.id}"
                                            th:text="${eg.engineType}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.mileage}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-control" type="number" name="mileage">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.engineVolume}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
<!--                                <input class="form-control" type="number" min="0" max="5" name="engineVolume">-->
                                <select class="form-control"  name="engineVolume">
                                    <option>0.6</option>
                                    <option>0.8</option>
                                    <option>1.6</option>
                                    <option>1.8</option>
                                    <option>2</option>
                                    <option>2.4</option>
                                    <option>2.5</option>
                                    <option>2.7</option>
                                    <option>3</option>
                                    <option>3.5</option>
                                    <option>4</option>
                                    <option>4.5</option>
                                    <option>5</option>
                                    <option>5.4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.color}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="color.id" class="form-control">
                                    <option th:each="cl : ${color}" th:value="${cl.id}" th:text="${cl.color}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.carBody}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="carBody.id" class="form-control">
                                    <option th:each="cb : ${carBody}" th:value="${cb.id}"
                                            th:text="${cb.carBody}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label th:text="#{label.gearbox}"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="gearbox.id" class="form-control">
                                    <option th:each="gr : ${gearbox}" th:value="${gr.id}"
                                            th:text="${gr.gearbox}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-success" th:text="#{button.addAd}"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var brandInput = document.getElementById("brandInput");
        var modelInputContainer = document.getElementById("modelInputContainer");

        brandInput.onchange = function () {
            if (brandInput.value) {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", "/api/brands/" + brandInput.value + "/models");
                xhr.send();

                xhr.onload = function() {
                    if(xhr.status === 200) {
                        modelInputContainer.innerHTML = buildModelInput(JSON.parse(xhr.response));
                    }
                }
            } else {
                modelInputContainer.innerHTML = "";
            }
        }

        function buildModelInput(modelList) {
            var optionText = "";

            for (let i = 0; i < modelList.length; i++) {
                optionText += `<option value='${modelList[i].id}'>${modelList[i].model}</option>`
            }

            return "<select name='model.id' class='form-control'>" + optionText + "</select>";
        }
    </script>
</div>
</html>