<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymleaf-extras-springsecurity5"
      layout:decorate="layout/main.html">
<div layout:fragment="search">
        <form th:action="@{'/updatepassword'}" method="post">
            <div class="row">
                <div class="col-3 mx-auto">
                    <div class="row">
                        <div class="col-12">
                        <label th:text="#{label.oldPassword}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        <input type="password" name="old_password" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        <label th:text="#{label.newPassword}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="password" name="new_password" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        <label th:text="#{label.retypePassword}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        <input type="password" name="re_new_password" class="form-control">
                        </div>
                    </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-light" th:text="#{button.change}"></button>
                    </div>
                </div>
                </div>
            </div>
        </form>
</div>
</html>